@import "../css/typography.css";

body{
    font-family: 'Nunito Regular',sans-serif;
    font-size: 1.2em;
}
h1,h3 {
    font-family: 'Nunito Extrabold',sans-serif;
    color: #33598a;
    font-weight: 400;
}
h2{
    font-family: 'Nunito Semibold',sans-serif;
}

a, a:visited {
    text-decoration: none;
    color:#33598a;
}
a:hover {
    text-decoration: none; 
    color: #8faed6;
}

code{
    background-color: #dae4f1;
    font-size:inherit;
}

pre {
    background-color: #dae4f1;
    font-size:inherit;
    white-space: pre-wrap;
    padding:20px;
}