@import "../css/typography.css";

body{
    font-family: 'Nunito Regular',sans-serif;
    font-size: 1.2em;
}
h1,h2 {
    font-family: 'Poppins Medium',sans-serif;
    color: #33598a;
}
h3{
    font-family: 'Poppins',sans-serif;
    color: #33598a;  
}
a, a:visited {
    text-decoration: none;
    color:#33598a;
}
a:hover {
    text-decoration: none; 
    color: #8faed6;
}

code{
    background-color: #dae4f1;
    font-size:inherit;
}

pre {
    background-color: #dae4f1;
    font-size:inherit;
    white-space: pre-wrap;
    padding:20px;
}

footer {
    color: rgb(182, 182, 182);
    font-size: 0.5em;
}